/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}

h1 {
  font-size: 5rem;
  text-align: center;
  letter-spacing: 3px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  font-size: 2rem;
  text-align: left;
  letter-spacing: 2px;
  margin-bottom: 0;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

p {
  text-indent: 2rem;
  font-family: sans-serif;
}

a:link {
  color: #aa6666;
  outline: none;
}

a:hover {
  color: #aa6666;
  text-decoration: none;
  outline: none;
}

a:focus {
  color: #aa6666;
  text-decoration: none;
  outline: none;
}

a:visited {
  color: #aa6666;
  outline: none;
}

a[href*="http"] {
  background: url("images/external-link-52.jpg") no-repeat right center;
  background-size: 10px 10px;
  padding-right: 15px;
}

ul, ol {
  margin: 1rem;
  font-family: sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

nav a {
  color: #aa6666;
  text-decoration: none;
  padding: 31px;
  display: block;
  text-align: center;
  font-weight: bold;
  border: 2px solid #aa6666;
  font-size: 2rem;
  text-transform: uppercase;
}